@font-face {
  font-family: 'PTC55F';
  src: url('PTC55F.eot');
  src: url('PTC55F.eot?#iefix') format('embedded-opentype'),
       url('PTC55F.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Caption';
  src: url('PTSans-Caption.svg#PTSans-Caption') format('svg'),
       url('PTSans-Caption.ttf') format('truetype'),
       url('PTSans-Caption.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

